<ul>
  {% for post in posts limit: count offset: offset %}
  <li class="article prose">
    <a href="{{ post.url }}" class="no-underline">
      <h3 class="article-title hover:underline">{{ post.data.title }}</h3>
      <div class="article-time">
        <time datetime="{{ post.data.date }}">
          {{ post.data.date | date : "%a, %b %d, %Y" }}
        </time>
      </div>
      <p class="article-description">{{ post.data.description }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
