{% for project in projects %}
  <div class="card lg:card-side bg-base-200 hover:bg-base-300 w-full lg:h-64 shadow-xl flex">
    <figure class="lg:w-1/3 overflow-hidden">
      <a href="{{ project.url | url }}">
        <img
          src="{{ project.data.splash }}"
          alt="{{ project.data.title }} project preview"
          class="object-cover h-full w-full"  />
      </a>
    </figure>
    <div class="card-body lg:w-2/3">
      <a href="{{ project.url | url }}" class="block flex hover:underline">
        <h2 class="card-title prose">
          {{ project.data.title }}
        </h2>
      </a>
      <p class="prose">{{ project.data.description }}</p>
      <div class="card-actions justify-start">
        {% for tag in project.data.tech %}
          {% assign tagColor = tag | techPill %}
          {% assign textColor = tag | techPill | contrastColor %}
          <span
            class="px-2 py-1 text-xs rounded-full"
            style="background-color: {{ tagColor }}; 
                  color: {{ textColor }};"
          >
            {{ tag }}
          </span>
        {% endfor %}
      </div>
      <button onclick="window.location.href='{{ project.url | url }}';" class="btn btn-neutral mt-4">
        Learn More
      </button>
    </div>
  </div>
{% endfor %}