---
layout: layouts/default.liquid
---

<div class="prose border-solid border-b-1 border-gray-700 pb-6">
  	<h1>{{ title }}</h1>
	<div class="flex text-sm font-light dark:font-extralight">
		<div class="flex">
        	{{ date | date : "%b %Y" }} - {% if activeDevelopment %}Present{% else %}{{ endDate | date : "%b %Y" }}{% endif %}
		</div>
	</div>
	{% if repo %}
	<div class="mt-2">
		<a href="{{ repo }}">
			{{ repo }}
		</a>
	</div>
	{% endif %}
  	<div class="mt-6">
  	{{ content }}
	</div>
</div>
